<% content_for :head do %>
  Tableau de bord
<% end %>

<% content_for :content do %>
  <div class="container-fluid">
    <div class="row">
      <% if flash[:pub_success] %>                       
          <p class="alert alert-success"> <%= flash[:pub_success] %></p>                
      <%end%>
    </div>
    <% @publications.each do |publication| %> 
      <div class="row mb-12">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-user"></i> &nbsp;
              <% @users.each do |user| %>
                <% if user.id == publication.user_id %>
                  <%= user.nom %> &nbsp; <%= user.prenom %> 
                <%end%>
              <%end%>
            </div>
            <div class="card-body">
              <%= publication.content %>
              <br>
              <% if publication.image.blank? %>
                <img src="https://mdbootstrap.com/img/new/slides/041.jpg" style="width: 100%; height: 500px;" class="img-fluid">             
              <% else %>
                <img src="<%= publication.image %>" style="width: 100%; height: 500px;" class="img-fluid">
              <%end%>
              
            </div>
            <div class="card-footer">
              hjhfh
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body pt-56 flex pl-0">
              <a href="" class="btn btn-warning">Commenter</a>
              &nbsp;&nbsp;
              <a href="" class="btn btn-info">Modifier</a>&nbsp;&nbsp;
              <a href="" class="btn btn-danger">Supprimer</a>              
            </div>
          </div>
        </div>  
      </div>
    <%end%>
    
  </div>
<% end %>