<% content_for :head do %>
  Editer - Publication
<% end %>

<% content_for :content do %>
  <div class="container-fluid mb-12">
    <div class="row mt-40">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Editer votre publication.
          </div>
          <div class="card-body">
              <%= form_with(model: @publication, url: users_editform_path, method: "post") do |form| %>

                <div class="form-outline mb-4">
                <%= form.label :image, "Ajouter une photo(optionnel)", class: "form-label" %>
                <%= image_tag(@publication.image.url) if @publication.image && @publication.image.url %>
                  <%= form.file_field :image, class: "form-control" %>

                </div>

                <div class="form-outline mb-4">
                    <%= form.label :content, "Publication", class: "form-label" %>
                  <%= form.text_area :content, size: "70x5", class: "form-control" %>

                </div>


              <div class="text-center">
                <%= form.submit "Publier", class: "btn btn-success  mb-4", style: "padding-right: 50px; padding-left: 50px; font-size: 17px;" %>
              </div>
            <% end %>
          </div>
          <div class="card-footer">
            Editer - Publication - Facebook
          </div>
        </div>
      </div>
      <div class="col-md-4">
       
      </div>  
    </div>
    
  </div>
<% end %>